/**
 * Chrome seems to need these workarounds because the components are interpreted incorrectly
 */

button.v-icon.v-icon {
    font-size: inherit;
    border: none;
    background: none;
    min-width: 1em;
}

button.v-icon.v-icon:hover {
    background: none;
}

input[type="number"], input[type="password"] {
    border: none;
}

.v-application--wrap {
    min-height: auto;
}
